h1 {
	color: teal;
	text-align: center
}

h2{
color: teal; 
text-align: center
	}	

p  {
	text-align:center
}
div  {
	text-align:center
}

table  {
	border:10px;
	text-align:center;
}
td  {
	text-align:center;
	color:teal;
	font-size:20px
}
tr {
	text-align:center;
}
